body{
    background: #f9f9f9;
}
a{
    text-decoration: none;
}
a:hover{
    color: #fff;
    text-decoration: none;
}
#app{
    overflow: scroll;
}
header {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    padding-right: 1rem;
    background: #fff;
}
header h2 {
    color: #333;
    font-size: 0.36rem;
    font-weight: 500;
    text-align: center;
}
header a {
    float: left;
    width: 1rem;
    height: 0.88rem;
}
header a img {
    height: 0.3rem;
    text-align: center;
    vertical-align: sub;
    padding-left: 0.25rem;
}
.content {
    padding: 0 0.24rem;
    background: #f9f9f9;
    color: #333;
}
.content h5 {
    font-size: 0.28rem;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid #ddd;
    line-height: 0.88rem;
}
.content > div p:nth-of-type(1) b {
    height: 0.3rem;
    width: 0.28rem;
    display: inline-block;
    background: url("../images/Location.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.content > div p:nth-of-type(2) b {
    width: 0.3rem;
    height: 0.4rem;
    display: inline-block;
    background: url(../images/group.png) no-repeat center;
    background-size: contain;
    vertical-align: sub;
}
.content > div > p {
    height: 0.8rem;
    line-height: 0.8rem;
    display: inline-block;
    width: 49%;
    font-size: 0.32rem;
}
.content > div > p:nth-of-type(2) {
    text-align: right;
}
.content .editor {
    width: 100%;
    height: 1.2rem;
    border-radius: 0.15rem;
    background: #fff;
    padding: 0 0.2rem;
    color: #999;
}
.content .editor a {
    float: right;
    line-height: 1.2rem;
    height: 1.2rem;
    font-size: 0.32rem;
}
.content .editor a:hover{
    text-decoration: none;
    color: #999;
}
.content .editor span {
    line-height: 1.2rem;
    height: 1.2rem;
    font-size: 0.32rem;
}
.login {
    width: 100%;
    padding: 0 0.24rem;
    height: auto;
    background-color: #f9f9f9;
}
.login .login-title {
    width: 100%;
    text-align: left;
    line-height: 0.78rem;
    height: 0.78rem;
    font-size: 0.32rem;
    position: relative;
    color: #666;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
.login .login-input-content {
    background-color: #fff;
    padding: 0.2rem 0.24rem 0;
    border-radius: 0.15rem;
}
.login .login-input-content .login-input {
    overflow: hidden;
    margin: 0 0 0.2rem 0;
}
.login .login-input-content .login-input .list-input {
    float: left;
    line-height: 0.5rem;
    height: 0.5rem;
    width: 100%;
    border-bottom: 1px solid #eee;
    text-indent: 0.1rem;
    font-size: 0.28rem;
    color: #333;
}
.login .login-input-content .login-input dt {
    padding-right: 10px;
    line-height: 0.8rem;
    height: 0.8rem;
    font-size: 0.32rem;
    width: 100% !important;
    color: #666;
}
.login .login-input-content .login-input dt i {
    color: #ff6600;
}
.login .login-input-content .login-input dd select {
    border: 0;
    line-height: 0.5rem;
    height: 0.5rem;
    width: 100%;
    border-bottom: 1px solid #eee;
    text-indent: 0.1rem;
    font-size: 0.28rem;
    color: #333;
    /*将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff;
    /*在选择框的最右侧中间显示小箭头图片*/
}
.login .login-input-content .login-input dd select option {
    color: #999;
}
fieldset .form-list{
    height: .8rem;
    margin-bottom: .2rem;
}
.form-list .form-label{
    float: left;
    width: 40%;
    line-height: .8rem;
    font-size: .32rem;
    color: #666;
}
.form-list .form-label i{
    color: #ff6600;
}
.form-list .form-input{
    float: left;
    width: 60%;
    line-height: .8rem;
}
.form-input input{
    width: 100%;
    height: .5rem;
    font-size: .28rem;
    border-bottom: 1px solid #eee;
}
.form-input input:disabled{
    background: #fff;
}
.login-button {
    width: 100%;
    line-height: 0.72rem;
    font-size: 0.28rem;
    text-align: center;
    bottom: 0;
    background: #f9f9f9;
    margin-bottom: .48rem;
    padding-top: .5rem;
}
.login-button #login-button-submit {
    text-align: center;
    display: inline-block;
    background-color: #ff6600;
    width: 5.4rem;
    height: 0.72rem;
}
.login-button > a {
    border-radius: 0.36rem;
}
.login-button > a span {
    width: 1.88rem;
    height: 0.72rem;
    font-size: 0.34rem;
    color: #fff;
    display: inline-block;
    text-align: center;
}
/*模态框*/
.modal {
    display: none;
    /* 默认隐藏 */
    position: fixed;
    /* 根据浏览器定位 */
    z-index: 1;
    /* 放在顶部 */
    left: 0;
    top: 0;
    width: 100%;
    /* 全宽 */
    height: 100%;
    /* 全高 */
    overflow: auto;
    /* 允许滚动 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 背景色 */
}
/*模态框内容*/
.modal-content {
    border-radius: 0.2rem;
    display: flex;
    /*采用flexbox布局*/
    flex-direction: column;
    /*垂直排列*/
    position: relative;
    background: #F9F9F9;
    margin: 15% auto;
    /*距顶部15% 水平居中*/
    padding: 0 0.25rem 0;
    border: 1px solid #888;
    width: 95%;
    animation: topDown 0.4s;
    /*自定义动画，从模态框内容上到下出现*/
}
@keyframes topDown {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.fixed{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(100,100,100,0.4);
}
.grade-list{
    margin: 3.2rem auto;
    width: 80%;
    background: #fff;
    border-radius: .1rem;
    height: 4.8rem;
    overflow: auto;
}
.grade-list li{
    padding: .2rem;
    text-align: center;
    font-size: .3rem;
}
.grade-list li:not(:last-child){
    border-bottom: 1px solid #eee;
}

/*模态框头部*/
.modal-header {
    display: flex;
    /*采用flexbox布局*/
    flex-direction: row;
    /*水平布局*/
    align-items: center;
    /*内容垂直居中*/
    justify-content: space-between;
}
/*关闭X 样式*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header h2 {
    position: relative;
    width: 100%;
    height: 1.14rem;
    line-height: 1.14rem;
    padding-left: 0.7rem;
}
.modal-header h2 img {
    width: 2rem;
    position: absolute;
    right: -5%;
    top: -27%;
}
.modal-body table {
    height: 3.6rem;
    text-align: center;
    font-size: 0.3rem;
    background: #fff;
    overflow: auto;
}
.empty-player{
    margin: .4rem auto;
    width: 3.3rem;
    text-align: center;
}
.empty-player img{
    width: 100%;
}
.empty-player p{
    margin-top: .4rem;
    color: #999;
}
.modal-body table tr td:nth-of-type(2) {
    color: #333;
}
.modal-body table tr td:nth-of-type(3) {
    color: #999;
}
.modal-body table tr td:nth-of-type(4) {
    text-align: left;
}
.modal-footer {
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
}
.modal-footer > button {
    width: 1.84rem;
    display: inline-block;
    height: 0.72rem;
    line-height: 0.72rem;
    border-radius: 0.36rem;
    color: #fff;
}
.modal-footer > button:nth-of-type(1) {
    background: #B0B0B0;
}
.modal-footer > button:nth-of-type(2) {
    background: #ff6600;
    margin-left: 0.6rem;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    position: relative;
}
input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}
input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/checked.png) no-repeat center;

    font-weight: bold;
    border-radius: 50%;
    background-size: contain;
}
.myModal2 .hide {
    display: none;
}
.myModal2 #shade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.myModal2 #modal {
    padding: 12px 12px;
    background-color: white;
    position: fixed;
    width: 90%;
    height: auto;
    z-index: 3;
    top: 10%;
    left: 5%;
}
.myModal2 #modal p {
    color: #666;
    font-size: 0.32rem;
    margin-top: 0.4rem;
}
.myModal2 h5 {
    line-height: 1.3rem;
    height: 1.3rem;
    text-align: center;
    font-size: 0.36rem;
}
.myModal2 > div {
    text-align: center;
}
.myModal2 > div img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.myModal2 > div input {
    height: 0.72rem;
    width: 80%;
    text-align: center;
    border-radius: 0.35rem;
    margin: 0.68rem auto;
    color: #fff;
    background: #ff6600;
    font-size: 0.34rem;
}



.login .login-input-content .login-input .list-input:disabled{
    background: #fff!important;
    color: #999;
}
.login .login-input-content .login-input select:disabled{
    background: #fff!important;
    color: #999;
}

header h2{
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
/*# sourceMappingURL=enroll.css.map */