body{
    background-color: #f9f9f9;
}
a:hover{
    text-decoration: none;
}
.list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block select, .list-block textarea{
    color: #999;
    font-size: .75rem;
}
.list-block{
    margin: 0;
}
.title{
    background-color: #fff;
    font-size: .9rem;
}
.icon-left{
    padding: .5rem 0!important;
}
.icon-left:before{
    font-size: .7rem!important;
    color: #666;
}
.item-title{
    color: #333;
    font-size: .75rem;
}
.icon-left:before{
    font-size: .75rem;
    color: #444;
}
.list-block .item-content{
    padding-left: 0;
    background: #fff;
}
.content-block-title{
    margin: 0 0 .4rem 0;
}
.list-block ul:before,.list-block ul:after{
    background: #fff;
}
.list-block .item-inner{
    min-height: 2.5rem;
}
.list-block .item-media+.item-inner{
    margin-left: .6rem;
    margin-right: .6rem;
}
.list-block .item-inner:after{
    background: #fff;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.message-text{
    color: #999;
    font-size: .75rem;
}
.bindBtn{
    width: 4rem;
    height: 1.2rem;
    color: #f60;
    font-size: .65rem;
    line-height: 1.2rem;
    background: #fff;
    border: 1px solid #f60;
    border-radius: .6rem;
}